﻿@page
@model LibraryAccounting.Pages.ClientPages.ConcreteBookModel
@{
}
<div class="container-fluid">
    <h3 class="text-center d-block mt-3">@Model.Book.Title</h3>
    <div class="row justify-content-center">
        <img class="col-lg-3 col-md-3 col-12" src="~/img/@(Model.Book.Title).jpg" />
        <div class="col-lg-4 col-md-6 col-12 mt-4 concrete-book-property pl-lg-5 pl-md-5">
            <p>Автор: @Model.Book.Author</p>
            <p>Жанр: @Model.Book.Genre</p>
            <p>Издательство: @Model.Book.Publisher</p>
            @if (Model.IsFree)
            {
                <p class="available-in">Есть в наличии</p>
                <form method="post">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <input type="hidden" name="bookId" value="@Model.Book.Id" />
                    <button type="submit" class="btn btn-dark booking-btn">Забронировать</button>
                </form>
            }
            else
            {
                <p class="out-of-stock">Нет в наличии</p>
            }
        </div>
    </div>
</div>