﻿@page
@model LibraryAccounting.Pages.LibrarianPages.BookCatalogModel
@{
    ViewData["LibrarianPages/BookCatalog"] = "disabled";
}
<div class="container mt-3">
    <form class="form-inline" method="post">
        <div class="form-group">
            <label class="m-2">Автор: </label>
            <select name="author" class="form-control" asp-items="Model.Authors">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Жанр: </label>
            <select name="genre" class="form-control" asp-items="Model.Genres">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <div class="form-group">
            <label class="m-2">Издатель: </label>
            <select name="publisher" class="form-control" asp-items="Model.Publishers">
                <option value="emtpy">Пусто</option>
            </select>
        </div>
        <button class="btn btn-info m-2" type="submit">Фильтровать</button>
    </form>
    <div class="row justify-content-md-start">
        @foreach (var book in Model.Books)
        {
            <div class="col-lg-3 col-md-2 col-12">
                <a>
                    <h4>@book.Key.Title</h4>
                    <p>Автор: @book.Key.Author <br />Жанр: @book.Key.Genre <br />Издатель: @book.Key.Publisher</p>
                </a>
                @if (book.Value)
                {
                    <p>В наличии</p>
                    <a class="btn btn-warning booking-btn" asp-page="BookForm" asp-route-id="@book.Key.Id">Редактировать</a>
                    <a class="btn btn-warning booking-btn" asp-page-handler="Remove" asp-route-id="@book.Key.Id">Удалить</a>
                }
                else
                {
                    <p>Забронировано @Model.Users[Model.Bookings[book.Key.Id].ClientId].Name @Model.Bookings[book.Key.Id].BookingDate</p>
                    if (Model.Bookings[book.Key.Id].IsTransmitted)
                    {
                        <p>Передано @Model.Bookings[book.Key.Id].TransferDate</p>
                        if (Model.Bookings[book.Key.Id].IsReturned)
                        {
                            <p>Принято @Model.Bookings[book.Key.Id].ReturnDate</p>
                        }
                        else
                        {
                            <a class="btn btn-info booking-btn">Принять</a>
                        }
                    }
                    else
                    {
                        <p>Не передано</p>
                        <a class="btn btn-danger booking-btn">Передать</a>
                    }
                }
            </div>
        }
    </div>
</div>
